<%= form_with url: "/microformats", method: "get", local: true do |form| %>
  <div class="form-group">
    <%= form.label :url, "Enter a URL" %>
    <%= form.text_field :url, id: :submission_url, placeholder: "https://example.com/person.html", class: "form-control form-control-xl" %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-xl btn-success">Parse</button>
  </div>
<% end %>


<h2 class="h4 my-5">OR parse just a snippet of HTML</h2>


<%= render "form", submission: @submission %>
