<%= render "form", submission: @submission %>

<% if @submission.render_html_in_page? %>
<div class="card mb-5">
  <div class="card-header">
    Rendered HTML
  </div>

  <div class="card-block">
    <%= simple_format @submission.html %>
  </div>
</div>
<% end %>
