@import "bootstrap";

form {
  label {
    font-weight: bold;
  }

  textarea,
  input[type=url],
  input[type=text] {
    font-family:  "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .form-control:disabled {
    cursor: default;
    background: #efefef;
    color: black;
  }
}
